.menu{
    height: 80px;
    width: 1460px;
    background-color: #111111;
    color: #F9F9F9;
    border-bottom: 2px solid #191B16;
    font-family: "Neue Frutiger World", Tahoma, sans-serif;
 }
 
 a{
    text-decoration: none;
 }
 
 #riotLogo {
    width: 160px; 
    height: 160px;
    background-image:url('https://lolstatic-a.akamaihd.net/riotbar/live/1.1.5/images/navigation/fistsprite.png');
    transform: scale(0.33);
    position: absolute;
    top: -55px;
    left: -55px;
    background: url(https://lolstatic-a.akamaihd.net/riotbar/live/1.1.5/images/navigation/fistsprite.png) 0 -2400px no-repeat;
    margin-top: 25px;
    margin-left: 40px;
    background-position-x: 0px;
    background-position-y: -2400px;
    transition: background-position 0.25s steps(15, end);
    
 } 
 
 #riotLogo:hover{
    background-position-x: 0px;
    background-position-y: 0px;
    transition: background-position 0.25s steps(15, end);
 }
 
 #triangle{
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
     border-top: 5px solid #7E7E7E;
    position: absolute;
    top: 50px;
    left: 95px;
    cursor: pointer;
 }
 
 #triangle:hover{
    border-top: 5px solid #F9F9F9;
 }
 
 #seperator{
    border-left: 2px solid #7E7E7E;
    display: inline-block;
    font-size: 14px;
    height: 30px;
    margin-left: 110px;
    margin-right: 32px;
    margin-top: 30px;
 }
 
 #valorantLogo{
    background-image: url(./logo.JPG);
    display: inline-block;
    height: 30px; 
    width: 35px;
    /* margin-left: 110px;
    margin-right: 32px;
    margin-top: 30px; */
 }
 
 .midMenu, .leftMenu, .rightMenu{
    font-family: "Neue Frutiger World", Tahoma, sans-serif;
    display: inline-block;
    font-size: 12px;
    letter-spacing: 0.1em;
 }
 
 #box1{
    width: 176px;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 4px;
    line-height: 80px;
    height: 80px;
    margin-top: -52px;
    margin-left: 40px;
    position: absolute;
    top: 56px;
    border-bottom: 2px solid transparent;
    /* border: 1px solid yellow; */
    cursor: default;
    font-weight: bold;
    text-decoration: none;color: #F9F9F9;
 }
 
 /* #box1:hover{
    border-bottom: 2px solid #FF4655;
 } */
 
 #triangle1{
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
     border-top: 5px solid #7E7E7E;
    position: absolute;
    top: 43px;
    left: 175px;
 }
 
 #subBoxes1{
    display: none;
    width: 136px;
    margin-top: 19px;
    position: absolute;
    z-index: 1;
    /* display: block; */
 }
 
 .subBox1{
    background-color: #111111;
    color: #F9F9F9;
    width: 136px;
    display: block;
    padding: 12px 32px;
    /* border: 1px solid yellow; */
    /* line-height: 10px; */
    font-family: "Neue Frutiger World", Tahoma, sans-serif;
    margin-left: 229px;  
    text-decoration: none;
    color: #f9f9f9;
    font-weight: bold;
    font-size: 12px;
    letter-spacing: 0.1em;
 }
 
 .subBox1:hover{
    background-color: #333333;
 }
 
 /* a{
    text-decoration: none;
    color: #f9f9f9;
    width: 136px;
 } */
 
 #triangle2{
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
     border-top: 5px solid #7E7E7E;
    position: absolute;
    top: 43px;
    left: 175px;
 }
 
 #box2{
    width: auto;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 4px;
    line-height: 80px;
    height: 80px;
    margin-top: -52px;
    margin-left: 260px;
    position: absolute;
    top: 56px;
    border-bottom: 2px solid transparent;
    /* border: 1px solid yellow; */
    text-decoration: none;
    color: #f9f9f9;
    font-weight: bold;
 }
 
 #box2:hover{
    border-bottom: 2px solid #FF4655;
 }
 
 #box3{
    width: auto;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 4px;
    line-height: 80px;
    height: 80px;
    margin-top: -52px;
    margin-left: 415px;
    position: absolute;
    top: 56px;
    border-bottom: 2px solid transparent;
    /* border: 1px solid yellow; */
    text-decoration: none;
    color: #f9f9f9;
    font-weight: bold;
 }
 
 #box3:hover{
    border-bottom: 2px solid #FF4655;
 }
 
 #box4{
    width: 75px;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 4px;
    line-height: 80px;
    height: 80px;
    margin-top: -52px;
    margin-left: 515px;
    position: absolute;
    top: 56px;
    border-bottom: 2px solid transparent;
    /* border: 1px solid yellow; */
    cursor: default;
    font-weight: bold;
 }
 
 #box4:hover{
    border-bottom: 2px solid #FF4655;
 }
 
 #triangle3{
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
     border-top: 5px solid #7E7E7E;
    position: absolute;
    top: 43px;
    left: 75px;
 }
 
 #subBoxes4{
    display: none;
    width: 136px;
    margin-top: 19px;
    position: absolute;
    z-index: 1;
    /* display: block; */
 }
 
 .subBox4{
    background-color: #111111;
    color: #F9F9F9;
    width: 136px;
    display: block;
    padding: 12px 32px;
    /* border: 1px solid yellow; */
    /* line-height: 10px; */
    font-family: "Neue Frutiger World", Tahoma, sans-serif;
    margin-left: 689px;  
    text-decoration: none;
    color: #f9f9f9;
    font-weight: bold;
    font-size: 12px;
    letter-spacing: 0.1em;
 }
 
 .subBox4:hover{
    background-color: #333333;
 }
 
 #box5{
    width: 60px;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 4px;
    line-height: 80px;
    height: 80px;
    margin-top: -52px;
    margin-left: 630px;
    position: absolute;
    top: 56px;
    border-bottom: 2px solid transparent;
    /* border: 1px solid yellow; */
    cursor: default;
    font-weight: bold;
 }
 
 #box5:hover{
    border-bottom: 2px solid #FF4655;
 }
 
 #triangle4{
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
     border-top: 5px solid #7E7E7E;
    position: absolute;
    top: 43px;
    left: 60px;
 }
 
 #subBoxes5{
    display: none;
    width: 136px;
    margin-top: 19px;
    /* display: block; */
    position: absolute;
    z-index: 1;
 }
 
 .subBox5{
    background-color: #111111;
    color: #F9F9F9;
    width: 136px;
    display: block;
    padding: 12px 32px;
    /* border: 1px solid yellow; */
    /* line-height: 10px; */
    font-family: "Neue Frutiger World", Tahoma, sans-serif;
    margin-left: 819px;  
    text-decoration: none;
    color: #f9f9f9;
    font-weight: bold;
    font-size: 12px;
    letter-spacing: 0.1em;
 }
 
 .subBox5:hover{
    background-color: #333333;
 }
 
 #subBox5-1:hover{
    background-color: #333333;
 }
 
 #triangle5{
    width:0px;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
     border-top: 5px solid #7E7E7E;
    display: inline-block;
    /* position: absolute;
    top: 43px;
    left: 60px; */
 }
 
 #subSubBoxes5{
    display: none;
    width: 136px;
    /* display: block; */
    margin-top: 19px;
    position: absolute;
    z-index: 1;
 }
 
 .subSubBox5{
    background-color: #111111;
    color: #F9F9F9;
    width: 136px;
    display: block;
    padding: 12px 32px;
    /* border: 1px solid yellow; */
    /* line-height: 10px; */
    font-family: "Neue Frutiger World", Tahoma, sans-serif;
    margin-left: 1019px;  
    text-decoration: none;
    color: #f9f9f9;
    font-weight: bold;
    font-size: 12px;
    letter-spacing: 0.1em;
 }
 
 .subSubBox5:hover{
    background-color: #333333;
 }
 
 #triangle6{
    width: 0px;
    display: block;
    /* display: none;*/
    margin-top: -34px;
    margin-left: 20px;  
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
     border-bottom: 10px solid #F9F9F9;
 }
 
 /* .switchWrapper{
    padding: 24px;
    background-color: #008000;
    display: none;
    width: 1232px;
 }
 #headline{
    padding: 24px; */
    /* margin: 0px 16px; */
    /* height: 10px;
    font-size: 24px;
    font-weight: 950;
    font-family: "FF Mark W05", sans-serif;
    display: inline-block;
 }
 #headline a{
    cursor: pointer;
 }
 #goToRiotGames{
    display: inline-block;
    font-family: "Neue Frutiger World", Tahoma, sans-serif;
    margin-left: 850px;
 }
 #goToRiotGames a{
    color: #111111;
    text-decoration: none;
    font-size: larger;
    font-weight: 20px;
    padding: 6px 12px;
    border-radius: 4px;  
    font-size: 11px;
    height: 24px;
    vertical-align: middle;
 }
 #goToRiotGames a:hover{
    background-color: #EAEAEA;
 }
 #x{
    vertical-align: middle;
 }
 #bd:hover{
    box-shadow: 0 14px 28px rgb(0 0 0 / 25%), 0 10px 10px rgb(0 0 0 / 22%);
 }  */
 .poster{
    margin-left: 100px;
    margin-top: 19px;
    background-image: url(https://img.android.com.pl/images/user-images/2020/06/valorant.jpg);
    background-repeat: no-repeat;
    background-size: 1280px;
    height: 731px; 
    width: 1280px;
 }
 
 #subTittle{
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    position: absolute;
    margin-top: 200px;
    margin-left: 350px;
 }
 
 #playForFree{
    font-weight: 700;
    margin-left: 550px;
    position: absolute;
    margin-top: 400px;
    /* height: 50px; */
    padding: 1.9rem 3rem;
    cursor: pointer;
    background: linear-gradient(to left, #FF4655 50%, #0f1923 50%) right;
    background-size: 200%;
    transition: .1s ease-out;
 }
 
 #playForFree:hover{
    background-position: left;
 }
 /* 
 #getReady{
    width: 855px;
    height: 266px;
    background-color: #0F1923;
    padding-top: 24px;
    position: absolute;
    z-index: 1;
    top: 200px;
    left: 250px;
    display: none; 
 }
 .slash{
    padding: 24px;
    font-family: Anton,sans-serif;
 }
 .getReady{
    text-align: center;
 }
  */
 
 
 .newsImage{
    display: block;
    margin-top: 0px;
    padding-top: 0px;
 }
 
 .notif, .content{
    color: #0f1923;
 }
 
 .upd{
    color:#FF4655;
    margin-left: 30px;
 }
 
 .news{
    display: inline-block;
    margin: 0px;
    width: 346px;
    height: 315px;
    border: green solid 1px;
    cursor: pointer;
 }
 
 #goToNews{
    color:#FF4655;
    display: inline-block;
    margin-left: 1000px;
 }
 
 .newsTittle{
    color:#FF4655;
    margin-bottom: 0px;
    display: inline-block;
 }
 
 #newsTittle{
    display: block;
    margin-top: 200px;
 }
 
 body{
    background-color: #EEE6E1;
 }
 
 #hr1{
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    width: 800px;
    height: 2px;
    background-color: #C4BEBA
 }
 
 #weAreValorant{
    color: #0f1923;
    margin-left: 235px;
    margin-top: 100px;
    font-size: 7rem;
    font-family: Anton,sans-serif;
 }
 
 .tutor{
    width: 255px;
    display: inline-block;
    color: #0f1923;
    margin-right: 90px;
    padding-left: 250px;
 }
 
 iframe{
    display: inline-block;
 }
 
 .body2{
    background-color: #FF4655;
    height: 704px;
    width: 1280px;
    margin-top: 100px;
 }
 
 #hr2{
    margin-left: auto;
    margin-right: 150px;
    width: 400px;
    height: 2px;
    background-color: #C4BEBA;
 }
 
 .agents{
    margin-left: 750px;
    margin-right: 150px;
 }
 
 #allAgents{
    width: 274px;
    height: 55px;
    background-color: #C4BEBA;
    color: #0f1923;
    font-weight: 700;
    text-align: center;
    line-height: 55px;
    cursor: pointer;
    background: linear-gradient(to left, #C4BEBA 50%, #0f1923 50%) right;
    background-size: 200%;
    transition: .1s ease-out;
 }
 
 #allAgents:hover{
    background-position: left;
    color:#F9F9F9;
 }
 
 #RnR, #agents{
    display: inline-block;
 }
 
 .RnR{
    width: 400px;
    position: absolute;
 }
 
 #raze{
    left: 300px;
    margin-top: 150px;
 }
 
 .body3{
    background-image: url(https://playvalorant.com/static/maps-03ebbf2c074f13a65af1dba0c80f767e.png);
    transform: translateX(15%);
    margin-top: -70px;
    height: 805px;
    width: 1280px;
 }
 
 #hr3{
    margin-left: -50px;
    width: 400px;
    height: 2px;
    background-color: #C4BEBA;
 }
 
 .maps{
    color: #0f1923;
    margin-left: -50px;
    width: 400px;
 }
 
 #mapGeneral{
    color: #768079;
 }
 
 #allMaps{
    width: 274px;
    height: 55px;
    background-color: #FF4655;
    color: #F9F9F9;
    font-weight: 700;
    text-align: center;
    line-height: 55px;
    cursor: pointer;
    background: linear-gradient(to left, #FF4655 50%, #0f1923 50%) right;
    background-size: 200%;
    transition: .1s ease-out;
 }
 
 #allMaps:hover{
    background-position: left;
    color: #0f1923;
 }